<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SOLAS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/images/SOLAS-250x76.png" alt="SOLAS">
                @*@Html.ActionLink("SOLAS: Support Our Local Animal Shelter", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    <li>@Html.ActionLink("Adopt", "Adopt", "Home")</li>
                    <li>@Html.ActionLink("Donate", "Donate", "Home")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">How Can I Help?<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Foster", "Foster", "Help")</li>
                            <li>@Html.ActionLink("Volunteer", "Volunteer", "Help")</li>
                            <li>@Html.ActionLink("Wants List", "WantsList", "Help")</li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://www.facebook.com/solascb/" target="_blank"><img src="~/images/facebook.png" alt="facebook" style="width:32px;height:32px;"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            
            <div style="width:468px" align="center">
                <a href="http://www.chewy.com/rp/5475"><img src="http://www.chewy.com/assets/img/partners/rescue/banner-468x60.png" width="468" height="60" border="0"></a>
            </div>

            <p align="center">&copy; @DateTime.Now.Year - SOLAS</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
